<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="favicon32.png" sizes="32x32">  
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="csshake-slow.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Clément Jouffre, développeur web et web mobile</title>
</head>
<body>
    <div id="display">

        <div class="top">
            <nav>
                <a href="#" onclick="boiTalk(1)" id="btn1" class="button btn1 btn1On">Mon profil</a>
                <a href="#" onclick="boiTalk(2)" id="btn2" class="button btn2">Mes compétences</a>
                <a href="#" onclick="boiTalk(3)" id="btn3" class="button btn3">Me contacter</a>
            </nav>

            <main id="bubble" class="bubble1">
                <div class="bubbleContent">
                    <a id="arrowLeft" class="arrow Left" style="visibility: hidden;" href="#" onclick="slide(-1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <style>.d{fill:#FFF;opacity: 0.9;}</style>
                            <path class="d" d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"/>
                        </svg>
                    </a>
                    <div class="speech font" id="bubble1-slide1" style="display: inline;">Bonjour, je suis Clément Jouffre et j'ai 26 ans.<br>
                    <!-- <div id="app">
                        {{ message }}
                    </div> -->
                        Je suis <h1>développeur web et web mobile.</h1><br>
                        Je suis créatif, enthousiaste, curieux et débrouillard.<br>
                        Je possède un bon niveau d'anglais oral et écrit.<br>
                        J'aime l'écriture, le cinéma, la bande dessinée, le jeu vidéo, Austin Powers et Al Pacino...
                    </div>
                    <div class="speech font" id="bubble1-slide2" style="display: none;">
                        En 2015 j'ai concrétisé mon goût pour l'<h2>illustration en créant une micro-entreprise d'infographie.</h2>
                        <br>J'ai conçu dans ce cadre des supports de communication Print.
                        <br><a href="./Portfolio/" class="font">Vous trouverez ici un aperçu de mes réalisations</a>
                    </div>
                    <div class="speech font" id="bubble1-slide3" style="display: none;">
                        J'ai intégré en 2018 la formation Simplon.Ve au Cheylard (07).
                        <br>J'y apprend une méthodologie de travail (Agile, SCRUM, Kanban), y étend ma culture de <h2>l'informatique et du web, 
                        et y acquiert des compétences techniques</h2>.
                    </div>
                    <div class="speech font" id="bubble2-slide1" style="display: none;">
                        Mon IDE de prédilection est Visual Studio Code.
                        <br>Je sais mettre en place un serveur local type Wamp ou un environnement NodeJs.
                        <br>Utiliser un outil de gestion de version (type GIT)
                        <br>Installer et utiliser des systèmes de gestion de contenus (notamment Wordpress).
                        <br>J'utilise également RAD Studio pour développer des applications natives en Delphi.
                    </div>
                    <div class="speech font" id="bubble2-slide2" style="display: none;">
                        J'utilise <h2>HTML5 et CSS3 pour créer des sites Responsive ou Adaptive en utilisant Flexbox ou Bootstrap.
                        <br>Javascript et Vue.JS sont mes alliés dans la manipulation du DOM et la conception d'interfaces riches</h2>.
                    </div>
                    <div class="speech font" id="bubble2-slide3" style="display: none;">
                        Afin de rendre <h2>dynamiques mes projets web j'utilise aussi bien PHP et le framework Symfony que l'environnement NodeJS.
                        <br>Je sais traiter et manipuler des données via le sgbd MySQL ou le format JSON</h2>.
                    </div>
                    <div class="speech font" id="bubble3-slide1" style="display: none;">
                        <div style="display:flex;flex-direction:column;justify-content:space-around;align-items:center;">
                            <span>Par mail</span>
                            <h3>clement.jouffre<span style="display: none">null</span>@yahoo.fr</h3>
                        </div>
                    </div>
                    <div><a id="arrowRight" class="arrow Right" href="#" onclick="slide(1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <style>.d{fill:#FFF;opacity: 0.9;}</style>
                            <path class="d" d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"/>
                        </svg>
                    </a></div>
                </div>
            </main>

            <div id="tick" class="tick tick1"></div>
        </div>

        <div id="bois">
            <!--Bleu-->
            <svg xmlns="http://www.w3.org/2000/svg" id="jacket" class="boi" style="z-index: 3; opacity:1;" viewBox="0 0 979 1080">
                <defs>
                    <style>.bleu{fill:#092327;}</style>
                </defs>
                <title>Bleu</title>
                <g id="bleu">
                    <path class="bleu" d="M685,354.62q-55,11.49-110,23c-17.69,3.72-35.37,7.58-52.76,12.57-16.64,4.77-32.93,10.64-49.15,16.68-31.9,11.87-63.84,24.53-97.51,30.45-36.56,6.43-73.83,2.7-110.22-3.05-9.14-1.45-18.44-2.64-27.48-4.6-4.17-.91-5.74-2.83-7-6.86-1.36-4.51-2.42-9.13-3.35-13.74a167,167,0,0,1-3.15-27.17q-.23-6.7.05-13.4c.2-4.58.45-7.81,5.57-8.47,8.18-1.06,17.19.32,25.41.69,9.48.44,19,.93,28.44,1.37,18.6.86,37.22,1.51,55.85,1.11,36.81-.8,72.6-7.75,108.58-15L504,336.9c17.25-3.48,34.75-6.62,51.21-13,28.6-11.14,49.72-33.49,75.45-49.35a108.49,108.49,0,0,1,19.57-9.8c3.53-1.29,7.63-2.94,11.45-2.54,4.32.45,6.58,3.83,8.11,7.53,6.45,15.65,7.42,34.88,6.52,51.58a147.64,147.64,0,0,1-3.9,26.3c-1.49,6.26,8.15,8.93,9.64,2.66a157.78,157.78,0,0,0,3.31-55.94c-1.07-8.66-2.53-17.54-5.39-25.81-2.36-6.82-6.43-13.45-13.76-15.61-7.66-2.26-16,1-23,3.89A128.82,128.82,0,0,0,623,267.53c-13.45,8.65-25.63,19.07-38.57,28.43-14.13,10.21-29,18.08-45.77,22.9-18.62,5.34-37.9,8.51-56.86,12.34-38.9,7.86-78,17.56-117.65,20.76-39.8,3.21-79.71-.15-119.5-1.73-7.24-.29-16.25-1.79-22.91,2-7.57,4.29-7.31,13.42-7.42,21a182.13,182.13,0,0,0,1.83,28.07c1.29,9.16,2.79,19,6.32,27.61,3.37,8.2,10,9.91,18.12,11.29,9.59,1.64,19.19,3.26,28.82,4.71,19.32,2.91,38.77,5.24,58.32,5.69,37.91.88,74-7.53,109.59-20,34.92-12.25,69-26.54,105-35.45,38.44-9.52,77.51-16.74,116.27-24.84l29-6.06c6.3-1.32,3.63-11-2.66-9.64Z"/>
                    <path class="bleu" d="M618.71,283.61q-1.91,36.83-6.22,73.48c-.75,6.38,9.26,6.32,10,0q4.31-36.63,6.22-73.48c.33-6.43-9.67-6.41-10,0Z"/>
                    <path class="bleu" d="M550.45,327.41a309.21,309.21,0,0,1-16,52.23c-2.42,6,7.25,8.55,9.64,2.66a309.21,309.21,0,0,0,16-52.23c1.33-6.28-8.31-9-9.64-2.66Z"/>
                    <path class="bleu" d="M436.15,352.58a136.38,136.38,0,0,1-12.34,60.27c-2.67,5.81,5.94,10.89,8.63,5a147.66,147.66,0,0,0,13.71-65.32c-.15-6.42-10.15-6.45-10,0Z"/>
                    <path class="bleu" d="M363.67,361.61q-2.51,29.47-6.77,58.75c-.92,6.3,8.71,9,9.64,2.66q4.47-30.6,7.13-61.41c.55-6.41-9.46-6.38-10,0Z"/>
                    <path class="bleu" d="M265.32,365.73a422.37,422.37,0,0,1,17.74,64.64c1.2,6.31,10.84,3.64,9.64-2.66A422.37,422.37,0,0,0,275,363.07c-2.17-6-11.84-3.41-9.64,2.66Z"/>
                    <path class="bleu" d="M249.73,352.35c2.15-18.53-4.69-36.43-4-54.9s12.58-33.33,22.51-47.86l34.27-50.16c10.78-15.78,21-32.22,33.41-46.83a166.6,166.6,0,0,1,46.81-38.19c5.64-3.11.6-11.75-5-8.63A175.06,175.06,0,0,0,334,139.67c-13.43,14.44-24.12,31.2-35.2,47.43l-35.38,51.78C253.09,254,240,269.7,236.69,288.23c-3.88,21.53,5.55,42.57,3,64.12-.74,6.38,9.26,6.33,10,0Z"/>
                    <path class="bleu" d="M628.72,266.46a1685.1,1685.1,0,0,0-177.31-149.7c-5.2-3.81-10.19,4.87-5,8.63A1666.64,1666.64,0,0,1,621.65,273.53c4.62,4.48,11.7-2.58,7.07-7.07Z"/>
                    <path class="bleu" d="M417,70.55a298.56,298.56,0,0,0-20-34.9c-3.55-5.33-12.21-.33-8.63,5a298.56,298.56,0,0,1,20,34.9c2.81,5.79,11.44.72,8.63-5Z"/>
                    <path class="bleu" d="M430.25,73.39l8.83-28.55c1.9-6.16-7.75-8.8-9.64-2.66l-8.83,28.55c-1.9,6.16,7.75,8.8,9.64,2.66Z"/>
                    <path class="bleu" d="M444.79,88.72l49.33-30.26c5.48-3.36.46-12-5-8.63L439.75,80.08c-5.48,3.36-.46,12,5,8.63Z"/>
                    <path class="bleu" d="M440.1,96.67a149.2,149.2,0,0,1,30.18,1.17c6.29.91,9-8.72,2.66-9.64a161.83,161.83,0,0,0-32.84-1.53c-6.4.37-6.44,10.38,0,10Z"/>
                    <path class="bleu" d="M422.91,100.9,434.49,140c1.82,6.16,11.48,3.54,9.64-2.66L432.55,98.24c-1.82-6.16-11.48-3.54-9.64,2.66Z"/>
                    <path class="bleu" d="M404.72,106.55a119.76,119.76,0,0,1-2.48,37.6c-1.44,6.26,8.2,8.94,9.64,2.66a128.61,128.61,0,0,0,2.84-40.26c-.57-6.36-10.57-6.42-10,0Z"/>
                    <path class="bleu" d="M395.82,68.1a236.43,236.43,0,0,1-40.66-17.88c-5.63-3.13-10.68,5.5-5,8.63a250.65,250.65,0,0,0,43.05,18.89c6.12,2,8.75-7.62,2.66-9.64Z"/>
                    <path class="bleu" d="M321.46,682.61c6.51,23.25-3.7,47.49,2.49,71,5.64,21.4,20.49,39.57,33.7,56.8a762.29,762.29,0,0,0,92.61,100.72,773.69,773.69,0,0,0,60.23,49.26c5.18,3.83,10.17-4.85,5-8.63a752.19,752.19,0,0,1-100.43-89.12q-22.68-24.06-43.19-50c-13.45-17-29.21-35.28-36.57-56-8.89-25,2.84-51.3-4.24-76.59-1.73-6.19-11.38-3.56-9.64,2.66Z"/>
                    <path class="bleu" d="M319.77,670.4c-42,29-72.77,72.74-86.72,121.8a220.11,220.11,0,0,0-7.15,37.37q-1,9.9-1.1,19.87c0,5.86-.81,13.32,1.89,18.71s9.06,7.93,14.05,11a153.78,153.78,0,0,1,17.17,12.34,158.19,158.19,0,0,1,28.44,30.66c2.37,3.38,4.87,6.91,5.34,11.11s-.78,8.36-1.42,12.47a80.8,80.8,0,0,0-.46,22.45,83.62,83.62,0,0,0,17.29,41.44c3.94,5.08,11-2,7.07-7.07a71.8,71.8,0,0,1-14.12-55c1.14-7.21,2.88-14.13.2-21.24-2.12-5.63-6.05-10.54-9.68-15.26a166.81,166.81,0,0,0-43.36-39.68c-2.73-1.73-5.58-3.25-8.32-5-2.9-1.8-3.52-2.8-3.85-6.3a137.42,137.42,0,0,1,0-19.92,201.48,201.48,0,0,1,5-35,216.08,216.08,0,0,1,28.54-67.7A205.67,205.67,0,0,1,324.81,679c5.27-3.63.27-12.3-5-8.63Z"/>
                    <path class="bleu" d="M265.12,821.81a53.92,53.92,0,0,0-3.74,22c.28,5.86,1,12.49,5.91,16.38s13.24,4.91,19.15,4.81,11.89-2.26,15.31-7.21c3.74-5.42,2.76-11.79.37-17.54a227.65,227.65,0,0,0-10-21.17c-6.61-12.16-19-12.33-31.17-10.32-6.33,1-3.65,10.68,2.66,9.64,7.74-1.27,15.66-2,19.88,5.73,2.26,4.16,4.12,8.59,6.15,12.87,1.75,3.7,4.93,8.32,4.7,12.56-.23,4.48-5.19,5.48-8.79,5.46-3.84,0-11.31-.65-13.18-4.41-1.61-3.25-1.18-8.64-1-12.08a47.18,47.18,0,0,1,3.34-14.08c2.33-6-7.33-8.6-9.64-2.66Z"/>
                    <path class="bleu" d="M285.85,740.65l-6.42,14.88c-1.53,3.54-3.54,7.25-1.75,11.1,2.73,5.88,14.15,6.92,19.78,6.61,7.33-.41,14.12-4.35,16.32-11.68,2.63-8.74-2.44-17.76-7.34-24.65-3.7-5.2-12.37-.21-8.63,5,4.58,6.45,12.26,21.26-1.67,21.32a25.59,25.59,0,0,1-6.12-.82,33,33,0,0,0-3.29-.92l-1.26-.42,1.55,2c.57,0,3.36-7.89,3.7-8.69l3.78-8.75c2.52-5.85-6.09-10.95-8.63-5Z"/>
                    <path class="bleu" d="M625.5,819.14a204.6,204.6,0,0,1-6.05,75.32c-6.88,24.94-17.62,48.93-27,73-2.34,6,7.32,8.6,9.64,2.66,9.63-24.63,20.7-49.2,27.51-74.81a212.42,212.42,0,0,0,5.92-76.15c-.65-6.34-10.66-6.41-10,0Z"/>
                    <path class="bleu" d="M677.17,711c6.23,21.54,19.42,39.79,31.42,58.39,5.91,9.17,11.74,18.59,15.86,28.73a84,84,0,0,1,4.45,14.46c.92,4.43,2.74,12,1,16.39-1.05,2.74-4.21,2.18-6.74,2.79a26.22,26.22,0,0,0-5.84,2.24,29.88,29.88,0,0,0-10.74,10.11c-5.67,8.5-7.69,19.43-6.8,29.49,1.22,13.85,6.6,27.05,7.21,41,.54,12.43-3.41,24.36-9.93,34.83-16,25.75-44.83,39-71.33,51.27-5.83,2.71-.76,11.33,5,8.63,24.47-11.36,50.22-23.42,67.65-44.8,7.83-9.6,14.1-20.7,16.91-32.84,3.12-13.49,1-26.53-2.1-39.79-2.81-12.22-5.86-24.84-1-37,1.83-4.61,4.78-9.07,9.1-11.65,4.54-2.72,10.44-1.63,14.52-5.22,7.62-6.69,4.16-22.3,2.08-30.77-2.65-10.8-7.57-21-13.12-30.6-13-22.5-30.66-42.94-38-68.3-1.78-6.17-11.44-3.55-9.64,2.66Z"/>
                    <path class="bleu" d="M673.2,808.91c7.34,5.29,34.68,16,36.14-.52.61-6.93-5.57-12.35-10.85-15.69a39.8,39.8,0,0,0-20.89-5.93c-6.44-.07-6.44,9.93,0,10a30.19,30.19,0,0,1,11.29,2.15c2.63,1.09,9.56,4.27,10,7.51q.88,1.15-.23.45-1.64.05-3.27,0a30.58,30.58,0,0,1-5.93-1,34.27,34.27,0,0,1-11.24-5.55c-5.23-3.77-10.23,4.9-5,8.63Z"/>
                    <path class="bleu" d="M658.8,757.41a15,15,0,0,0,29.14,2,14.83,14.83,0,0,0-6.42-17.1,13.85,13.85,0,0,0-17.36,3.12c-4,5,3,12.08,7.07,7.07,3.22-4,9.08-.75,7.08,4.15-2.33,5.72-9,3-9.87-1.92-1.17-6.32-10.81-3.64-9.64,2.66Z"/>
                    <path class="bleu" d="M392.58,82.29l-57,2c-6.42.22-6.45,10.22,0,10l57-2c6.42-.22,6.45-10.22,0-10Z"/>
                    <path class="bleu" d="M388.19,98.68a95.1,95.1,0,0,1-18,29.94c-4.25,4.8,2.79,11.9,7.07,7.07a108.32,108.32,0,0,0,20.58-34.36c2.25-6-7.42-8.65-9.64-2.66Z"/>
                    <path class="bleu" d="M256.86,733.41c-14.52,12-29.15,24.07-45.77,33.12-15.78,8.6-32.83,14.52-48.9,22.54a141.49,141.49,0,0,0-42.06,32C107.65,834.86,96.84,850.15,85.65,865L44.12,919.86c-3.88,5.13,4.8,10.12,8.63,5l36.19-47.85c11.42-15.1,22.44-30.64,34.81-45,12-13.91,25.55-25.23,41.95-33.59,15.48-7.89,31.95-13.68,47.38-21.69,18.58-9.65,34.8-23,50.85-36.32,5-4.11-2.15-11.15-7.07-7.07Z"/>
                    <path class="bleu" d="M699.52,754c31.15,26.8,63.23,53.62,103.16,66,10.87,3.36,20.28,7,28.79,14.8,7.72,7.09,15,14.74,22.36,22.18,14.79,14.93,29.34,30.12,42.89,46.2,15.45,18.33,29.4,37.89,40.7,59.05,3,5.68,11.67.63,8.63-5-20.14-37.73-48.64-70-78.39-100.41q-11.33-11.58-22.85-23c-7.35-7.31-14.83-14.17-24.48-18.29-9.33-4-19.31-6.17-28.72-10a185.55,185.55,0,0,1-28.29-14.67c-20.36-12.67-38.61-28.31-56.74-43.91-4.86-4.18-12,2.86-7.07,7.07Z"/>
                </g>
            </svg>
            <!--1-->
            <svg xmlns="http://www.w3.org/2000/svg" id="boi1" class="boi boiOn shake-slow" viewBox="0 0 979 1080">
                <defs>
                    <style>.boi1{fill:#DE5B49;}</style>
                </defs>
                <g>
                    <path class="boi1" d="M565.38,478.08c-.92,9.49-1.57,19.21,2.07,28.26C570.94,515,577,522,579.12,531.27S581.27,550,584.47,559c3,8.25,7.82,15.54,11.75,23.32,3.6,7.11,6.71,16.19,3.75,24.09-1.61,4.3-5,7.07-8.72,9.59a150.54,150.54,0,0,1-12.79,8.13c-4.89,2.66-5.7-.47-9-3.81a34.81,34.81,0,0,0-31.64-9.68,5,5,0,0,0-3.67,4.82l.67,6.52,5-5c-6.47,0-12.78-4.51-13.73-11.19S530,593,536.18,591.2s3.56-11.4-2.66-9.64c-11,3.1-18.9,14-17.3,25.54s12.21,19.88,23.61,19.85c2.5,0,5.28-2.29,5-5l-.67-6.52-3.67,4.82a24.36,24.36,0,0,1,19.1,4.64c4.91,3.68,7.34,9.6,14,10.48,7.3,1,14.06-5.12,19.77-8.84s11.77-7.8,14.89-14.23c6.25-12.89,1-27.18-5.41-38.86-3.78-6.91-8-13.61-10-21.3-2-7.43-2.29-15.16-3.88-22.67-1.85-8.7-6.31-15.45-10.48-23.14-4.82-8.9-4-18.51-3.09-28.24.62-6.4-9.38-6.36-10,0Z"/>                    
                    <path class="boi1" d="M616.93,374.62q13.34,37.27,26.68,74.54c4.06,11.32,8.35,21.86,5.87,34.09-2.13,10.49-4.91,20.13-4.68,31,.21,10.07,2.48,19.88,3.58,29.85,1.25,11.26.33,22.52-1.06,33.73-1.41,11.38-3.72,23-8.59,33.48-4.16,8.92-8.56,17.39-11.7,26.78-6.59,19.69-10.32,40.17-15.9,60.14a196.94,196.94,0,0,1-27.27,58.06c-12,17.52-26.73,34-46.42,42.78s-41.2,8.55-59.73-2.85c-10.47-6.44-19.66-14.7-29.93-21.43-8.76-5.74-18-10.73-27-16-17-10-35.24-21.63-41.78-41.34-2-6.08-11.68-3.47-9.64,2.66,6.1,18.37,20.38,31,36.26,41.16,17.42,11.15,35.56,20.44,52.1,33,9.15,6.94,18.49,13.73,29.41,17.62a66.89,66.89,0,0,0,31,3c21.48-2.79,40.58-14.17,55.36-29.67a201,201,0,0,0,38.35-58.76c8.65-20,12.9-41.29,18.23-62.32a260.64,260.64,0,0,1,9.71-31.72c4-10.13,9.77-19.25,12.86-29.78A160.3,160.3,0,0,0,657,533.87c-2-12.89-3.4-25.71-.26-38.56,3-12.15,5-23.06,1.27-35.39-4.41-14.6-10.27-28.88-15.41-43.24l-16-44.73c-2.15-6-11.82-3.42-9.64,2.66Z"/>
                    <path class="boi1" d="M313.73,501.28c-6.37-12.49-17.47-25.47-32.64-25.72s-26.57,13-29.8,26.86c-4,17.18,0,36.75,4,53.6a221,221,0,0,0,18.53,50.25c3.89,7.55,8.86,14.91,17.21,17.88,8.7,3.09,18.28.44,25.85-4.28,5.45-3.4.44-12.05-5-8.63-7.08,4.41-16.18,6.54-22.76.09-5.67-5.57-8.91-14.37-12-21.51a214.26,214.26,0,0,1-15.38-53.28c-2.35-15.26-5.25-36.63,8.92-47.34,14.49-11,28.36,5,34.53,17.15,2.92,5.74,11.55.68,8.63-5Z"/>
                    <path class="boi1" d="M287.83,546.54a44.45,44.45,0,0,0,2,30.93c2.51,5.9,11.13.81,8.63-5a33.68,33.68,0,0,1-1-23.22c1.87-6.17-7.78-8.81-9.64-2.66Z"/>
                    <path class="boi1" d="M281,513.74c5.56.71,10.07,8.49,12.75,12.73a70.72,70.72,0,0,1,7.77,17.09c1.89,6.13,11.54,3.52,9.64-2.66a79.77,79.77,0,0,0-11.61-23.65c-4.84-6.64-10.05-12.44-18.56-13.52-6.37-.81-6.31,9.2,0,10Z"/>
                    <path class="boi1" d="M516.83,505.65c-2.17-7.17-10.53-10.08-16.9-12.57a88.34,88.34,0,0,0-25.35-5.52c-18.35-1.41-36.7,2.57-54,8.45-6.06,2.06-3.46,11.72,2.66,9.64,14.37-4.88,29.24-8.46,44.5-8.37a84.33,84.33,0,0,1,20.62,2.58,72.4,72.4,0,0,1,9.86,3.27c1.95.81,8.26,2.89,9,5.18,1.86,6.14,11.52,3.52,9.64-2.66Z"/>
                    <path class="boi1" d="M574.46,509.2A91.91,91.91,0,0,1,635,510c6.06,2.19,8.68-7.47,2.66-9.64a101,101,0,0,0-65.83-.82c-6.08,2-3.47,11.67,2.66,9.64Z"/>
                    <path class="boi1" d="M605.5,501.69c-.23,1.68-1.13,2.26-2.8,2.54-1.25.21-4.16.4-5.26-.33l1.79,1.79c2.27,3.41-4.76,2.18-1.77,0-2.17,1.6-3.26,4.33-1.79,6.84,1.25,2.14,4.65,3.4,6.84,1.79,4.53-3.34,5.83-9.82,1.49-14s-12.45-1.89-14.25,3.86c-4.26,13.57,23.58,13.44,25.4.18.37-2.67-.65-5.37-3.49-6.15-2.33-.64-5.78.8-6.15,3.49Z"/>
                    <path class="boi1" d="M464.74,497c-.09,1.43-1.66,2.43-2.84,3-.25.12-3.41.69-3.43.71a1.32,1.32,0,0,1,.51.88l.2-.36a6.88,6.88,0,0,1,1.45-.62l.31.05a.8.8,0,0,1-.42-.61c.5-.56-2.42.39,1.15-1-2.52,1-4.26,3.37-3.49,6.15.66,2.41,3.61,4.46,6.15,3.49a9.29,9.29,0,0,0,3.27-15.45c-5.66-5.34-15.44-2.08-18,4.86-2.69,7.37,3.68,13.26,10.86,12.52s13.78-6.18,14.25-13.67c.4-6.43-9.6-6.4-10,0Z"/>
                    <path class="boi1 mouth mouthAnim" d="M591,668.78c1.2-3.62-6.17-6.07-9.58-7.79-2.37-1.2-5.12.38-7.5,1.58a27.25,27.25,0,0,1-26.15-1.16,7.09,7.09,0,0,0-3.32-1.43,6.37,6.37,0,0,0-2.27.49A152.5,152.5,0,0,1,505,668.31s5.48,28.13,21.63,42.48c11,9.79,38.22,13.17,51.44-3.18C584.45,699.74,584.82,687.29,591,668.78Z"/>
                    <path class="boi1 mouth mouthAnim" d="M595.77,670.11c1.19-7.41-5.25-10.42-11-13-8.48-3.83-15.35,3.71-24.1,3.26-4.37-.23-7.68-1.92-11.45-3.89-4-2.08-7-1.21-11.1.11a150.5,150.5,0,0,1-33.1,6.75,5.09,5.09,0,0,0-4.82,6.33c3.26,16.49,11.18,35.88,24.89,46.27,16.48,12.48,45,11,57.64-6.18,3.38-4.59,5.11-10.14,6.55-15.59,2.13-8,3.94-16.12,6.52-24,2-6.13-7.66-8.76-9.64-2.66-2.5,7.71-4.31,15.57-6.35,23.4-1.3,5-2.66,10.23-6.08,14.22-8,9.33-22.1,10.58-33.26,7.34-18.43-5.34-27.2-28.19-30.61-45.43L505,673.31a167.06,167.06,0,0,0,25.7-4.22q2.77-.69,5.51-1.49c2-.58,5.22-2.37,7.25-2.3,2.38.08,5.24,2.34,7.7,3.24a32.25,32.25,0,0,0,19.81.53c3.08-.92,6.62-3.71,9.68-2.91a17.68,17.68,0,0,1,3.17,1.49,22.21,22.21,0,0,1,2,1.15q1.4,1.49.29-1.34C585.12,673.75,594.76,676.46,595.77,670.11Z"/>
                    <path class="boi1 lips" d="M510,689.31a123.15,123.15,0,0,0,25.29-5.05c3.11-1,7.06-3.31,9.89-2.53,3.26.91,6,3.22,9.5,4a28.72,28.72,0,0,0,19.84-2.8c2.1-1.19,1.9-1.73,3.05.42a26.29,26.29,0,0,0,1.43,2.55,8.43,8.43,0,0,0,7,3.92c6.44.22,6.43-9.78,0-10q2,1.44,1.13.26-.49-.87-.93-1.77a17.16,17.16,0,0,0-2.33-3.6,9,9,0,0,0-7.68-3c-3.56.36-6.36,2.74-9.69,3.82a18.71,18.71,0,0,1-11.34,0c-3.25-1-5.85-3.75-9.21-4.31s-6.76,1.26-9.95,2.34a115.24,115.24,0,0,1-26,5.8c-6.35.62-6.41,10.62,0,10Z"/>
                </g>
            </svg>
            <!--2-->
            <svg xmlns="http://www.w3.org/2000/svg" id="boi2" class="boi shake-slow2" viewBox="0 0 979 1080">
                <defs>
                    <style>.boi2{fill:#dd9a49;}</style>
                </defs>
                <g>
                    <path class="boi2" d="M337.77,594.26c-10,.5-18,6.63-27.68,8.06-9.81,1.46-9.95-10-12.65-16.69-4-10-11.28-17.38-17.75-25.72-7.51-9.68-10.7-20.44-10.28-32.68.36-10.54,3.3-20.28,5.56-30.48a21.07,21.07,0,0,0,.31-7.25c-.25-2.16-1.37-5.23-.89-7.39,1.09-4.87,7.17-4.67,11-3.84,5.63,1.22,10.51,4.18,15.24,7.35,6,4,11.91,8.28,17.58,12.79a284.12,284.12,0,0,1,31.12,28.9c4.39,4.72,11.45-2.36,7.07-7.07a284.11,284.11,0,0,0-32.51-30c-9.76-7.66-20.13-16.32-32-20.48-9.15-3.22-21.57-3-26.3,7.1-2.5,5.32.11,10.23-.08,15.64-.12,3.3-1.67,6.8-2.44,10-.84,3.49-1.58,7-2.17,10.55-2.62,15.89-2.34,32.41,6.35,46.48,6,9.76,15.2,17.31,20.08,27.81,4.17,9,4.11,20.89,15.36,24.39,12.28,3.82,23.15-6.88,35.06-7.48,6.4-.32,6.44-10.32,0-10Z"/>
                    <path class="boi2" d="M303.33,493.23C265,458.89,260,403.68,269.77,356a362,362,0,0,1,10.94-40.33c3.7-11.28,7-24.71,16.64-32.57,9.31-7.63,22.59-10.22,34-13.11a378.38,378.38,0,0,1,38.66-7.7,382.36,382.36,0,0,1,157.2,10.12c20.63,5.76,43.3,12.22,60.64,25.34,11.16,8.44,18,20.21,23,33.05,6.43,16.48,11.6,33.36,18.7,49.6,3.74,8.54,8.73,14.16,17.07,18.22,2.68,1.3,5.1,2.52,6.79,5.06,2.59,3.9,2.93,9,4.32,13.38,2.92,9.2,7.26,17.92,11.19,26.72,3.53,7.92,7.67,16.68,8,25.5.14,3.38-.3,6.85-2.33,9.67-1.69,2.36-4.3,3.68-5.64,6.32-2.74,5.4-1.5,12.61-.75,18.31,1,7.75,2.62,15.42,3.66,23.16a50.76,50.76,0,0,1,.65,9.49c-.16,2.86-1.44,3.52-3.08,6.87-5.19,10.64-4.12,23.63-4.33,35.13-.24,13-.42,26-.93,39-1.87,47.94-8.29,100.65-42,137.57-27.46,30-72.44,50.22-111.35,29.76-11.45-6-21.32-14.43-30.84-23.08-10.31-9.36-20.5-18.85-30.75-28.28l-63.68-58.62L353.35,645c-4.73-4.35-11.82,2.7-7.07,7.07l68.81,63.33c21.81,20.07,43.13,40.89,65.67,60.14,18.13,15.49,38.63,27.13,63,27.47,21.14.29,42-7.28,59.44-18.84a140,140,0,0,0,45.24-48.84c12.5-22.73,18.84-48.49,22.25-74,3.6-26.94,3.94-54.16,4.42-81.29.11-6.3.1-12.63.46-18.92a36.58,36.58,0,0,1,5.2-17.31c3-5.25,1.75-12.37,1-18-1.09-8.25-2.87-16.4-3.84-24.66a42.81,42.81,0,0,1-.39-9.78c0-.25.6-2,.3-1.45.66-1.25-.56.54.33-.37s2.15-1.81,3.1-2.9c12.56-14.4,1.72-35.78-4.84-50.34-4.06-9-8.24-17.87-10.59-27.49-2.19-9-6.28-14.9-14.57-19-3.22-1.58-6.19-3.14-8.49-6-3.64-4.5-5.59-10.6-7.74-15.92C631.5,359,628.35,350,625.2,341c-5.09-14.54-10.37-29.27-20.54-41.12-12.31-14.35-30.14-22.09-47.52-28.4a390.69,390.69,0,0,0-161.78-22,373.65,373.65,0,0,0-81.83,15c-11.33,3.49-22.21,8.4-29.42,18.21-7.54,10.28-11,23.69-14.79,35.69-15.73,50-22.79,106.89,4.6,154.28a112.74,112.74,0,0,0,22.35,27.61c4.78,4.28,11.88-2.77,7.07-7.07Z"/>
                    <path class="boi2" d="M524.17,475.82c3.88,15.49,10.27,30.11,16.1,44.93,5.22,13.27,10.48,27.27,10.5,41.72a48.62,48.62,0,0,1-4.5,20.87c-2.52,5.33-6.25,10-7.48,15.92-1.74,8.37,2,15.54,8.88,20.22s15.11,6.59,22.9,8.59a74,74,0,0,1,9.36,2.67c3,1.23,7.77,3.66,12.16,4,11.4.9,23.88-6.41,23.39-19-.32-8.08-5.52-14.78-9.93-21.16-4.6-6.66-9.25-13.29-13.86-20-21.27-30.78-42-62.74-51.56-99.32-1.63-6.22-11.28-3.58-9.64,2.66,7.71,29.42,22.41,56.23,39,81.54,8.4,12.85,17.26,25.38,26,38,3.68,5.31,10.86,12.85,10,19.77-.6,4.81-5.49,7.07-9.86,7.49-4.69.45-7.91-1.63-12-3.29a65.25,65.25,0,0,0-8.08-2.47c-6.89-1.79-14.19-3.26-20.47-6.75-5.87-3.26-8.19-7.67-5.44-14.14,2.41-5.69,6.08-10.64,8.12-16.56a58.8,58.8,0,0,0,3-19.08c0-14.85-4.94-29.21-10.27-42.88-6-15.34-12.67-30.41-16.68-46.43-1.56-6.24-11.21-3.6-9.64,2.66Z"/>
                    <path class="boi2" d="M466.39,516.8A37.74,37.74,0,0,0,489,523.34a5.14,5.14,0,0,0,4.82-3.67c2.61-8.91-4.4-19.09-14-18.65-9.13.42-15.52,10.28-12.8,18.82,1.95,6.11,11.6,3.5,9.64-2.66-.77-2.4.46-5.83,3.35-6.15,3.15-.36,4.94,3.39,4.18,6l4.82-3.67a28.51,28.51,0,0,1-17.58-5.17c-5.33-3.64-10.34,5-5,8.63Z"/>
                    <path class="boi2" d="M422.06,518.07c12.82-3.29,22.34-12.22,32.42-20.24,9.45-7.52,23.5-15.73,35.29-8.5,5.5,3.37,10.53-5.28,5-8.63-12.37-7.58-27.37-3.52-38.89,3.78-12.33,7.81-21.91,20.21-36.53,24-6.23,1.6-3.59,11.25,2.66,9.64Z"/>
                    <path class="boi2" d="M620.22,509.13c-.48.8.47-.5.08-.09s1-.73.16-.17c.18-.12,1-.36.36-.21.45-.1,1.07,0,.28-.09-.54-.06,1.19.41.24,0a3.77,3.77,0,0,0-.62-.18c-.79-.15.43.37.13,0a3.8,3.8,0,0,0-.72-.43c-.57-.31,0-.07.21.17a3.47,3.47,0,0,0-.59-.58c-.47-.27.68.88.09.11-.12-.16-.17-.39-.3-.55q.4,1,.24.49t0,.23c.25.22-.05.48,0-.21,0,.19-.11,1.15,0,.45-.16.94-.24.58.15.06,1.62-2.16.35-5.59-1.79-6.84-2.56-1.5-5.21-.37-6.84,1.79-3.49,4.64-.58,10.72,3.75,13.52,4.59,3,10.8,2.45,13.77-2.49a5,5,0,1,0-8.63-5Z"/>
                    <path class="boi2" d="M655.79,491.76q-44.41-9.38-89.39-15.56c-6.29-.87-9,8.77-2.66,9.64q45,6.18,89.39,15.56c6.28,1.33,9-8.31,2.66-9.64Z"/>
                    <path class="boi2" d="M522.71,444a173,173,0,0,1-90.85-12.38c-5.85-2.52-10.95,6.09-5,8.63A182.35,182.35,0,0,0,522.71,454c6.29-.82,6.37-10.83,0-10Z"/>
                    <path class="boi2" d="M582.83,436.81h57c6.43,0,6.45-10,0-10h-57c-6.43,0-6.45,10,0,10Z"/>
                    <path class="boi2" d="M303.12,538.7l-3.44-8.23c-.46-1.11-3.43-6-2.32-7.4s6.34.05,7.59.45a25,25,0,0,1,6.43,3.34c7.61,5.22,16.59,14.6,18.44,23.93,1.73,8.77-7.46,18.84-14.65,9.49-6.26-8.14,0-18.94,9.86-18.93,6.43,0,6.45-10,0-10-12.61,0-23.54,10.51-22.25,23.43,1.17,11.78,12.85,23.12,25.12,18.18,12.51-5,14.35-20.33,9.27-31.26-5.38-11.55-17.19-23.94-29.55-27.82-5.87-1.84-14.42-2.06-18.69,3.16-5.62,6.88,1.78,17.67,4.56,24.32,2.45,5.85,12.13,3.28,9.64-2.66Z"/>
                    <path class="boi2 mouth" d="M604.94,656.33c3.56-19-29.86,1.5-49.18,1.5-5.87,0-19.71-.88-25.59-1.09a76.57,76.57,0,0,0-26.35,3.7,48.94,48.94,0,0,0,9.56,39.72c21,26.51,66.31,49,86.18,3.7C604.52,692.56,601.05,677,604.94,656.33Z"/>
                    <path class="boi2 mouth" d="M609.76,657.66c4.07-25.32-32.09-9.14-43.39-6.4-10.92,2.65-22.13,1.13-33.24.61a90.15,90.15,0,0,0-22,1.49c-4.58.92-11.07,1.44-12.32,6.73-5.32,22.46,8.09,44,24.92,57.53,15,12.13,36.4,22.24,55.73,14.49,11.89-4.76,20.17-15.33,24.93-26.94,2.6-6.34,3-13.32,3.22-20.09.32-9.2.54-18.33,2.16-27.43,1.12-6.29-8.51-9-9.64-2.66a175.08,175.08,0,0,0-2.38,25.61c-.2,6.75,0,13.86-2.36,20.29-4,10.86-12.62,21-24.31,23.33-20.69,4.21-43.67-12.89-55-28.79-6.61-9.28-10.21-22.47-7.43-33.68l-3.49,3.49c11.41-3.56,22.52-3.68,34.32-3.07,8.57.44,17.08,1.21,25.56-.41s16.45-4.63,24.7-6.86a71.41,71.41,0,0,1,9.59-1.65c.56-.07,1.34.51,1,0s0,1-.16,1.68C599.11,661.3,608.74,664,609.76,657.66Z"/>
                    <path class="boi2 lips" d="M606.27,665.51c-8.81-3.65-17.48-.9-25.31,3.74-4,2.34-7.7,5-11.7,7.3-3.57,2-9.21,5.16-13.5,4.29-2.59-.52-6.07-3.63-8.37-5.34-3.42-2.56-6.75-5.43-10.5-7.51-9.74-5.38-24.44-1.47-34.39,1.63-6.12,1.91-3.51,11.57,2.66,9.64a74.34,74.34,0,0,1,20.56-3.54c4.56-.1,6.22.75,10,3.46,5.82,4.14,12.41,11.34,20,11.66,9,.37,17.45-4.79,24.73-9.47s14.38-9.83,23.12-6.21c5.94,2.46,8.53-7.21,2.66-9.64Z"/>
                </g>
            </svg>
            <!--3-->
            <svg xmlns="http://www.w3.org/2000/svg" id="boi3" class="boi shake-slow3" viewBox="0 0 979 1080">
                <defs>
                    <style>.boi3{fill:#B93D78;}</style>
                </defs>
                <g>
                    <path class="boi3" d="M546.13,472.22a421.34,421.34,0,0,1,32.49,70.66q6.25,17.83,10.9,36.17c2.93,11.54,6.51,23.81,6.87,35.76.14,4.67-.24,10.13-3.45,13.85-3.77,4.37-10,4.81-15.38,5.1-13.76.73-27.58,1.12-41.35,1.33-5.27.08-10,0-12-5.71-2-6.07-1.88-13.42-2.31-19.73a370.2,370.2,0,0,1,14.19-130.26c1.81-6.19-7.84-8.83-9.64-2.66a383.94,383.94,0,0,0-15.06,90.47,373.76,373.76,0,0,0,.72,45.27c.83,10.84.4,26.71,12.72,31.27,6,2.23,13,1.31,19.32,1.15q13-.34,25.91-.83c11.69-.44,25.29-.31,32.3-11.45,6.21-9.88,4-22.65,1.88-33.38a422.71,422.71,0,0,0-10.42-41.89,434,434,0,0,0-39.09-90.15c-3.21-5.58-11.85-.55-8.63,5Z"/>
                    <path class="boi3" d="M335.12,531.22A70.22,70.22,0,0,0,310,483a94.54,94.54,0,0,0-24.72-14.6c-10.36-4.24-19.9-6.83-30.79-3-9.28,3.22-11.51,10.32-13.34,19.34A137.31,137.31,0,0,0,238.41,515a148.83,148.83,0,0,0,13.8,58.92,140.94,140.94,0,0,0,43.2,53.56c5.14,3.88,10.13-4.8,5-8.63-28.15-21.23-46.39-54.54-51-89.33a133.77,133.77,0,0,1-.83-26.14,118,118,0,0,1,1.58-13.11c.68-3.77,1.13-8.94,3-12.33,1.49-2.66,4.7-3.23,7.46-4,5.43-1.49,10.16-.06,15.34,1.69a90.17,90.17,0,0,1,22.09,10.91c15.16,10.36,25.24,26.3,27,44.69.59,6.35,10.6,6.41,10,0Z"/>
                    <path class="boi3" d="M353.59,691.46q30.25,19.45,61,38.09,15,9.06,30,17.92c8.13,4.78,16.22,10.45,25.1,13.75,14.09,5.22,30.09,5.87,44.94,6.85s29.25,2.07,43.88,4.12c18.13,2.53,38,.06,53.35-10.49,16.48-11.31,24.32-29.65,31.17-47.7,15.88-41.83,31.71-85,34.22-130.07a177.69,177.69,0,0,0-8-64.83c-6.66-20.49-16.58-39.78-22.6-60.49s-5.4-41.3-4.89-62.48c.46-19.29.42-39.29-7.07-57.41-13.63-33-47.8-47.51-80.86-53.26-19.39-3.37-39.12-4.35-58.76-5.13-23.41-.93-46.93-1.26-70.35-.32-19.67.79-39.77,3-58.12,10.51A91.45,91.45,0,0,0,326,323.19c-19.46,28.1-23.33,64.49-24,97.75-.18,8.55-.1,17.11.09,25.66.14,6.43,10.14,6.45,10,0-.71-32.61-.39-66.8,11.59-97.62,5.6-14.42,14.41-27.67,26.51-37.44,14.84-12,33.73-17.42,52.37-19.8,20.39-2.6,41.22-2.35,61.73-2.16,21.67.21,43.42.87,65,2.76,30.45,2.66,65.93,9.19,86.57,34,25.15,30.2,12.93,73.4,16.25,109.1,3.84,41.38,29.84,76.42,34.44,117.7,4.77,42.7-7,85.23-21,125.17-3.6,10.28-7.4,20.49-11.25,30.68-3.37,8.92-6.76,17.89-11.58,26.15-9.44,16.15-24.79,25.72-43.38,27.63-15,1.54-30-2.43-44.91-3.45-15.2-1-30.56-1.4-45.63-3.78-6.14-1-12.61-2.12-18.3-4.72-8.95-4.08-17.39-9.94-25.85-14.93q-29.29-17.3-58.13-35.35-14-8.77-27.9-17.71c-5.43-3.49-10.45,5.16-5,8.63Z"/>
                    <path class="boi3" d="M506.5,479c-14.75-5-24.11-19.32-39.2-23.91S432,456.54,427,472.61c-1.94,6.15,7.71,8.78,9.64,2.66,2.16-6.83,9.78-10.43,16.41-11.44,7-1.07,13.61,1,19.49,4.61,10.73,6.59,19.15,16,31.33,20.2,6.11,2.08,8.73-7.58,2.66-9.64Z"/>
                    <path class="boi3" d="M450.6,499c-1.76,4.17.64,9.29,4.37,11.48a9.43,9.43,0,0,0,12.59-3.26,9.83,9.83,0,0,0-1.11-12.3,10.84,10.84,0,0,0-12.6-1.82c-2.42,1.19-3.09,4.63-1.79,6.84a5.1,5.1,0,0,0,6.84,1.79c-1,.5.55-.08-.13,0s.74.09-.17-.06c.11,0,1.3.29.71.17s1,.12-.08-.06c.15,0,.6.47.08,0q-.2-.67,0-.16t0,0q-.06-.55,0,.24l0-.43-.13.44q.27-.63,0-.16t0,.05q.31-.39-.21.17c.27,0,.44-.23-.1,0a4.47,4.47,0,0,1,1-.2c.3-.06-.41-.33.16.05l.28.25q-.53-.57-.22-.17t0,0q-.26-.47,0,.17c-.61-.21.4-.54-.05,0q-.18.78,0,.23a2.72,2.72,0,0,1,.24-.64c1-2.49-1.13-5.5-3.49-6.15-2.89-.79-5.1,1-6.15,3.49Z"/>
                    <path class="boi3" d="M585.93,480.89c7.71-4.07,17-9.69,26-9.3,5.36.23,6.59,4,10,7.35a22,22,0,0,0,9.79,5.32c6.23,1.65,8.88-8,2.66-9.64-5.44-1.44-7-5.79-11-9.14-3.6-3-8.42-4.08-13-3.85-10.55.54-20.37,5.8-29.5,10.63-5.69,3-.64,11.64,5,8.63Z"/>
                    <path class="boi3" d="M605.66,519c2,.32,3.33,1.8,5.06,2.71a10.66,10.66,0,0,0,5.79,1.21c4.48-.35,8.19-4,7.39-8.66-1.68-9.86-13.77-9.83-21.29-8.64-3.91.62-4.55,5.88-2.21,8.36a12.64,12.64,0,0,0,9.58,4c6.43-.12,6.45-10.12,0-10a2.76,2.76,0,0,1-2.51-1.07l-2.21,8.36a22.66,22.66,0,0,1,5.41-.34c1.33.11,2.17.8,3.31,1.14,1.34.39,1.76-3.16,1.84-3,.19.27-1.72-1-1.59-.89a15.49,15.49,0,0,0-5.92-2.77c-2.66-.44-5.38.69-6.15,3.49-.66,2.39.81,5.71,3.49,6.15Z"/>
                    <path class="boi3" d="M512,437.93c-14.78.27-29.83.63-44.32-2.79-13.59-3.21-25.6-10.79-40-8.85-6.35.86-3.64,10.49,2.66,9.64,6.93-.94,13.79,1.78,20.16,4.15a114.34,114.34,0,0,0,19.87,5.8c13.74,2.45,27.72,2.3,41.62,2,6.43-.12,6.45-10.12,0-10Z"/>
                    <path class="boi3" d="M588,442.24q17.82-1.11,35.45-4c6.34-1,3.65-10.65-2.66-9.64-10.87,1.74-21.8,2.93-32.79,3.62-6.39.4-6.44,10.4,0,10Z"/>
                    <path class="boi3 mouth" d="M572.27,656.32c3.12-.06,12,2.51,15.1,2,7.56-1.32,11.71,9.58,14.08,16.87,0,0-23.93,101.87-110.44,1.6-7.2-8.35,18.48-12.71,29.41-18.32a10.19,10.19,0,0,1,4.44-1.11Z"/>
                    <path class="boi3 mouth" d="M572.27,661.32c2.95.1,5.87,1,8.78,1.44,2.43.39,5.94-.17,8.17.53,2.59.81,4.29,5.09,5.26,7.29.34.77.9,3.85,1.59,4.22s.5-.28.54-.84c-.19,2.59-1.62,5.54-2.5,7.94-3.62,9.86-9.85,21.54-19.23,28.3-15,10.8-32.82,4.06-46.66-5.34a137.15,137.15,0,0,1-17.66-14.62c-3.11-3-6.12-6.07-9.05-9.22q-2.56-2.75-5-5.57c-3.71-4.22-1.52-.48-2-.62-.07,0,3.68-2.46,4.07-2.65a79.16,79.16,0,0,1,8.7-3.38c2.78-1,5.58-1.9,8.33-2.92,3-1.11,6.09-3.1,9.23-3.52,7.67-1,16-.34,23.7-.51l23.7-.51c6.43-.14,6.45-10.14,0-10l-24.69.53c-8,.17-16.31-.35-24.25.63-3.52.43-6.55,2.3-9.83,3.54-3.49,1.32-7,2.46-10.55,3.71-5.39,1.92-12.18,3.92-16,8.52-5.11,6.21,0,11.64,4.32,16.4a202.48,202.48,0,0,0,21.83,21.25c17,14,40.34,26.76,62.15,15.72,13.63-6.89,22.14-21,27.59-34.78,1.28-3.24,2.89-6.86,3.4-10.35.58-3.9-2-8.71-3.72-12.16s-4.15-7.22-7.61-9.31-6.54-1.42-10.24-1.76c-4.18-.38-8.22-1.81-12.44-1.95C565.83,651.11,565.84,661.11,572.27,661.32Z"/>
                    <path class="boi3 lips" d="M501,691.77c7.95.79,14.7,0,21.09-5a78.92,78.92,0,0,1,9.38-6.72c3.38-1.93,8-4.3,11.8-5.15,3.48-.78,8.76,4.85,12.3,6.29a29,29,0,0,0,13.24,2.07c4.52-.42,8.14-3.81,12.56-4.15,4.78-.38,9.59,3,11.25,7.39,2.26,6,11.93,3.38,9.64-2.66-3.65-9.63-13.66-16.63-24.24-14.36-5.2,1.12-8.56,4.46-14.18,3.68-5.85-.81-9-4.64-13.85-7.43-5.14-3-9.64-.26-14.53,1.69a63.13,63.13,0,0,0-12.84,6.38c-3,2-5.59,4.7-8.68,6.58-3.91,2.37-8.58,1.82-12.95,1.38-6.4-.64-6.35,9.37,0,10Z"/>
                </g>
            </svg>
        </div>

        <footer>
            <a href="/CV Clément Jouffre fev19.pdf" class="font" style="text-align: left;">lien vers version papier</a>
            <a href="/Portfolio" class="font">portfolio</a>
            <div class="font">html, css, js</div>
            <div class="font" style="text-align:right;">ClmJ</div>
        </footer>

    </div>
    
    <script type="text/javascript" src="script.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>